{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}

{% block box_content %}

    <!-- form start -->
    <div class="box-body">
        {% if auth_user_profile.user_id == user_profile.user_id %}
        <a class="btn btn-block btn-primary" href="{% url 'auth_password_change' %}">Change Password</a>
        {% endif %}
    </div>
    <form class="form-horizontal" method="post">
      <div class="box-body">


        {% load widget_tweaks %}
        {% for field in UserProfileForm %}
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

            <div class="col-sm-10">
                {% if field.name != 'is_active' %}
                    {% render_field field class+="form-control" %}
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

        </div>
        {% endfor %}

        {% csrf_token %}
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-info btn-block">Submit</button>
      </div>
      <!-- /.box-footer -->
    </form>

{% endblock %}

{% block include_js %}
    {% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}
