{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}

<div class="list-group">
    {% for user_profile in user_profiles %}
    <a href="{% url 'player_page' player_id=user_profile.user_id %}" class="text-info list-group-item">
        <h5 class="text-primary lit-group-item-heading">{{ user_profile.user.username }}
            <small class="small">{{ user_profile.get_position_display }}</small>
        </h5>
        <p class="text-info list-group-item-text">
            <span class="label label-info">{{ user_profile.team.name }}</span>
        </p>
    </a>
    {% endfor %}
</div>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();

</script>
    {% include "info_modal_script.html" with error_message=error_message %}

{% endblock %}
