{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}

{% block box_content %}

    <!-- form start -->
    <form id="transfer-form" class="form-horizontal" method="post">
      <div class="box-body">


        {% load widget_tweaks %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

            <div class="col-sm-10">
                {% if field.name != 'is_active' %}
                    {% render_field field class+="form-control" %}
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

        </div>
        {% endfor %}

        {% csrf_token %}
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-info btn-block">Submit</button>
      </div>
      <!-- /.box-footer -->
    </form>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
    <script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script>
        $("#transfer-form select").select2();
    </script>
    {% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}
