{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}
<!-- form start -->
    <div class="box-body">
        {% if auth_user_profile.user_type == 1 %}
        <div style="width:50%;margin:auto;padding:10px">
            <a href="{% url 'edit_match' match_id=match.pk %}?for_team=home" class="btn btn-primary">Edit For Home</a>
            <a href="{% url 'edit_match' match_id=match.pk %}?for_team=away" class="btn btn-primary pull-right">Edit For Away</a>
        </div>
        {% endif %}

        <div id="match_player_forms" class="col-sm-10 col-sm-offset-2">
            <div id="match_player_forms_inner_content">

                {% for match_player_form in match_player_forms %}
                <div>
                    <form class="form-horizontal" action="">
                        {{ match_player_form }}
                        <input type="text" name="spl" value="0" hidden>
                    <i onclick="$(this).parent().parent().remove()" class="btn fa fa-close"></i>
                    </form>
                </div>
                {% endfor  %}

            </div>
            <style>
                #match_player_forms{
                    border:1px dotted black;
                    border-radius:10px;
                    margin-bottom:20px;
                }
                #match_player_forms input{
                    max-width:50px;
                }
                #match_player_forms div{
                    padding:17px 0px;
                }
            </style>
            <div style="margin:auto;width:60%">
                <button onclick="addPlayer();" class="btn btn-info pull-right">Add Player</button>
            </div>
        </div>
        <hr>
        <form id="create_match_form" onsubmit="submit_form()" class="form-horizontal" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

            <div class="col-sm-10">
                {% if field.name != 'played' %}
                    {% render_field field class+="form-control" %}
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

        </div>

        {% endfor %}
        <input type="text" name="match_players" id="id_match_players" hidden>
        <hr/>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>-->
        </ol>
            <div class="carousel-inner">
                {% for ss in screenshots %}
                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                    <div class="text-center">
                        <img style="max-width:100%;min-height:400px" src="{{ ss }}" alt="First slide">
                    </div>

                    <div class="carousel-caption">
                        First Slide
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-angle-right"></span>
            </a>
        </div>

    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-info btn-block">Submit</button>
    </div>
    </form>
    <!-- /.box-footer -->
<!--</form>-->
        <div id="match_player_form" class="hidden">
            <div>
                <form class="form-horizontal" action="">
                    {{ match_player_form }}
                    <input type="text" name="spl" value="0" hidden>
                <i onclick="$(this).parent().parent().remove()" class="btn fa fa-close"></i>
                </form>
            </div>
        </div>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        function getSelectedOps(select_id){
            select = document.getElementById(select_id);
            var ops = select.options;
            var res = "";
            for(i = 0;i < ops.length;i++){
                if(ops[i].selected)
                res += '<option value="' + ops[i].value + '">' + ops[i].text + "</option>\n"
            }
            return res;
        }

        function addPlayer(){
            $('#match_player_forms_inner_content').append($('#match_player_form').html())
            $("#match_player_forms_inner_content form select").select2();
        }

        function serialize_match_player_forms(){
            var res = $('#match_player_forms_inner_content div form').serialize().split("&spl=0")
            return res;
        }

        function submit_form(){
            //$('#create_match_form').submit(function() {
                $("#id_match_players").val(serialize_match_player_forms);
                return true;
            //});
        }

        $("#id_players").change(function(){
            $("#id_captain").html(getSelectedOps("id_players"));
        });
        $("#create_match_form select").select2();
        $("#match_player_forms_inner_content form select").select2();

</script>
{% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}
