{% extends "base.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-xs-4">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle"
                     src="{% static 'tournament/dist/img/team_profile_icon.png' %}"
                     alt="User profile picture">

                <h3 class="profile-username text-center">{{ match.home.name }}</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                {% if is_logged_in and auth_user_profile.user_type == 1 or auth_user_profile.pk == user_profile.pk %}
                <a href="{% url 'edit_match' match_id=match.pk %}" class="btn btn-primary btn-block"><b>EDIT</b></a>
                {% endif %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Squad</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Oyuncu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in match.squad_home %}
                        <tr>
                            <td>
                                <div class="rn_nummer">1</div>
                            </td>
                            <td>
                                <table class="inline-table" title="">
                                    <tbody>
                                    <tr>
                                        <td rowspan="2" class=""><a href="#"><img style="height:36px;width28px;"
                                                                                  src="/static/tournament/dist/img/player-icon.png"
                                                                                  title="{{ player.user.name }}"
                                                                                  alt="{{ player.user.name }}"></a>
                                        </td>
                                        <td>
                                            <div>
                                                    <span>
                                                        <a href="{% url 'player_page' player_id=player.pk %}">{{ player.user.username }}</a>
                                                    </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CB- Centre Back</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <div class="col-xs-4">
        <div class="box box-primary">
            <h2 class="text-center">RESULT</h2>
            <hr>
            <div class="box-body text-center">
                <h1>{% if match.result_home %} {{ match.result_home }} {% endif %}-{% if match.result_away %} {{ match.result_away }} {% endif %}</h1>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-primary">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#statistics" data-toggle="tab">Statistics</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="statistics">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Anavatandaki isim:</th>
                                    <td>
                                        Wesley Benjamin Sneijder
                                    </td>
                                </tr>
                                <tr>
                                    <th>Doğum tarihi:</th>
                                    <td>9 Haz 1984</td>
                                </tr>
                                <tr>
                                    <th>Doğduğu il:</th>
                                    <td>Utrecht</td>
                                </tr>
                                <tr>
                                    <th>yaş:</th>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <th>Boyu:</th>
                                    <td>1,70</td>
                                </tr>
                                <tr>
                                    <th>Uyruğu:</th>
                                    <td>Hollanda</td>
                                </tr>
                                <tr>
                                    <th>Mevki:</th>
                                    <td>
                                        Orta saha - On Numara
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ayak:</th>
                                    <td>cift ayakli</td>
                                </tr>
                                <tr>
                                    <th>Oyuncu danışmanı:</th>
                                    <td>
                                        <a title="PUM"
                                           href="/players-united-management/beraterfirma/berater/2938">PUM</a></td>
                                </tr>
                                <tr>
                                    <th>
                                        Güncel kulüp:
                                    </th>
                                    <td>Galatasaray SK</td>
                                </tr>
                                <tr>
                                    <th>Takıma katılma tarihi:</th>
                                    <td>
                                        22 Oca 2013
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sözleşme bitiş tarihi::</th>
                                    <td>30.06.2018</td>
                                </tr>
                                <tr>
                                    <th>Son sözleşme uzatma tarihi:</th>
                                    <td>
                                        4 Eki 2015
                                    </td>
                                </tr>

                                <tr>
                                    <th>Donatıcı:</th>
                                    <td>Nike</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
    <div class="col-xs-4">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle"
                     src="{% static 'tournament/dist/img/team_profile_icon.png' %}"
                     alt="User profile picture">

                <h3 class="profile-username text-center">{{ match.away.name }}</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                {% if is_logged_in and auth_user_profile.user_type == 1 or auth_user_profile.pk == user_profile.pk %}
                <a href="{% url 'edit_match' match_id=match.pk %}" class="btn btn-primary btn-block"><b>EDIT</b></a>
                {% endif %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-primary">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Squad</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Oyuncu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in match.squad_away %}
                        <tr>
                            <td>
                                <div class="rn_nummer">1</div>
                            </td>
                            <td>
                                <table class="inline-table" title="">
                                    <tbody>
                                    <tr>
                                        <td rowspan="2" class=""><a href="#"><img style="height:36px;width28px;"
                                                                                  src="/static/tournament/dist/img/player-icon.png"
                                                                                  title="{{ player.user.name }}"
                                                                                  alt="{{ player.user.name }}"></a>
                                        </td>
                                        <td>
                                            <div>
                                                    <span>
                                                        <a href="{% url 'player_page' player_id=player.pk %}">{{ player.user.username }}</a>
                                                    </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CB- Centre Back</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();









</script>
{% endblock %}

{% block profile %}
{% with user_profile as user_profile %}
{{block.super}}
{% endwith %}
{% endblock %}
