{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}
<!-- form start -->
<form id="create_league_form" class="form-horizontal" method="post"> {% csrf_token %}
    <div class="box-body">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="row">
                    {% for week in fixture %}
                    <div class="col-sm-4">
                        <a data-toggle="collpse">
                            <h4>week {{ forloop.counter }}</h4>
                        </a>
                        <div id="week{{ forloop.counter }}" class="collpse">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Home</th>
                                        <th>Away</th>
                                        <th>Result</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for match in week %}
                                    <tr>
                                        <td>{{ match.home.name }}</td>
                                        <td>{{ match.away.name }}</td>
                                        <td>{% if match.result_home %}{{ match.result_home }}{% endif %} - {% if match.result_away %}{{ match.result_away }}{% endif %}</td>
                                        <td>
                                            <a href="{% url 'edit_match' match_id=match.pk %}">
                                                <i class="fa fa-fw fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

            <div class="col-sm-10">
                {% if field.name != 'return_match' %}
                    {% render_field field class+="form-control" %}
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

        </div>
        {% endfor %}

    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-info btn-block">Submit</button>
    </div>
    <!-- /.box-footer -->
</form>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#create_league_form select").select2();

</script>
    {% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}
