{% extends "base.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="{% static 'tournament/dist/img/player_profile_icon.jpg' %}"
                     alt="User profile picture">

                <h3 class="profile-username text-center">{{ league.name }}</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                {% if not league.knockout %}
                    {% if is_logged_in and auth_user_profile.user_type == 1 or auth_user_profile.pk == user_profile.pk %}
                    <a href="{% url 'edit_league' league_id=league.pk %}" class="btn btn-primary btn-block"><b>EDIT</b></a>
                    {% endif %}
                {% endif %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                <p>
                    <span class="label label-danger">UI Design</span>
                    <span class="label label-success">Coding</span>
                    <span class="label label-info">Javascript</span>
                    <span class="label label-warning">PHP</span>
                    <span class="label label-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#scoreboard" data-toggle="tab">Score Board</a></li>
                <li><a href="#fixture" data-toggle="tab">Fixture</a></li>
                <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="scoreboard">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>
                                    Played
                                </th>
                                <th>
                                    Win
                                </th>
                                <th>
                                    Draw
                                </th>
                                <th>
                                    Lose
                                </th>
                                <th>
                                    Goals For
                                </th>
                                <th>
                                    Goals Against
                                </th>
                                <th>
                                    Points
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in league.scoreboard %}
                        <tr>
                            <th>{{ row.0 }}:</th>
                            <td>
                                {{ row.1.pm }}
                            </td>
                            <td>
                                {{ row.1.w }}
                            </td>
                            <td>
                                {{ row.1.d }}
                            </td>
                            <td>
                                {{ row.1.l }}
                            </td>
                            <td>
                                {{ row.1.gf }}
                            </td>
                            <td>
                                {{ row.1.ga }}
                            </td>
                            <td>
                                {{ row.1.pts }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="fixture">
                    <div class="row">
                    {% for week in league.fixture %}
                        <div class="col-sm-4">
                            <a data-toggle="collpse">
                                <h4>week {{ forloop.counter }}</h4>
                            </a>
                            <div id="week{{ forloop.counter }}" class="collpse">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Home</th>
                                            <th>Away</th>
                                            <th>Result</th>
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for match in week %}
                                        <tr>
                                            <td>{{ match.home.name }}</td>
                                            <td>{{ match.away.name }}</td>
                                            <td>{% if match.result_home %}{{ match.result_home }}{% endif %} - {% if match.result_away %}{{ match.result_away }}{% endif %}</td>
                                            <td>
                                                <a href="{% url 'edit_match' match_id=match.pk %}">
                                                    <i class="fa fa-fw fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="statistics">
                    <div class="table-responsive">
                        <table class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">Kulüp</th>
                            <th class="hide"></th>
                            <th>Faaliyetler</th>
                            <th>Gol</th>
                            <th>Asistler</th>
                            <th>Sarı kartlar</th>
                            <th>Sarı-kırmızı kartlar</th>
                            <th>Kırmızı kartlar</th>
                            <th>Oynatılan dakikalar</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="2">Toplam:</td>
                            <td class="hide">&nbsp;</td>
                            <td>538</td>
                            <td>136</td>
                            <td>134</td>
                            <td>95</td>
                            <td>1</td>
                            <td>2</td>
                            <td>41.012'</td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>AFC Ajax Amsterdam</td>
                            <td>180</td>
                            <td>58</td>
                            <td>44</td><td>35</td>
                            <td>-</td>
                            <td>1</td>
                            <td>13.859'</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Galatasaray SK</td>
                            <td>175</td>
                            <td>45</td>
                            <td>44</td>
                            <td>33</td>
                            <td>-</td>
                            <td>-</td>
                            <td>13.586'</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Inter </td>
                            <td>116</td>
                            <td>22</td>
                            <td>35</td>
                            <td>11</td>
                            <td>1</td>
                            <td>1</td>
                            <td>8.849'</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td te/verein/418">Real
                                Madrid</a></td>
                            <td>66</td>
                            <td>11</td>
                            <td>11</td>
                            <td>16</td>
                            <td>-</td>
                            <td>-</td>
                            <td>4.628'</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Ajax Amsterdam U21</td>
                            <td>1</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>90'</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();



</script>
{% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}

{% block profile %}
    {% with user_profile as user_profile %}
        {{block.super}}
    {% endwith %}
{% endblock %}


