{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}

<h2>Leagues:</h2>
<div class="list-group">
    {% for league in leagues %}
    <a href="{% url 'league_page' league_id=league.pk %}" class="text-info list-group-item">
        <h4 class="text-primary lit-group-item-heading">{{ league.name }}</h4>
        <!--<p class="text-info list-group-item-text">-->
            <!--{% for player in team.players %}-->
            <!--{% if player.user_type == 2 %}-->
            <!--<span class="label label-primary">{{ player }}</span>-->
            <!--{% else %}-->
            <!--<span class="label label-info">{{ player }}</span>-->
            <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</p>-->
    </a>
    {% endfor %}
</div>

<h2>Knockouts:</h2>
<div class="list-group">
    {% for knockout in knockouts %}
    <a href="{% url 'knockout_page' knockout_id=knockout.pk %}" class="text-info list-group-item">
        <h4 class="text-primary lit-group-item-heading">{{ knockout.name }}</h4>
        <!--<p class="text-info list-group-item-text">-->
            <!--{% for player in team.players %}-->
            <!--{% if player.user_type == 2 %}-->
            <!--<span class="label label-primary">{{ player }}</span>-->
            <!--{% else %}-->
            <!--<span class="label label-info">{{ player }}</span>-->
            <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</p>-->
    </a>
    {% endfor %}
</div>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();

</script>
{% endblock %}
