{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}

{% block box_content %}

<style>
    .colored{
        background-color:green;
        border-right: 1px solid black;
    }
    .border_right{
        border-right: 1px solid black;
    }
</style>

<!-- form start -->
<div class="box-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Round 1</th>
                <th>Round 2</th>
                <th>Round 3</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="colored border_right" >Team1</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="border_right">&nbsp;</td>
                <td class="colored">Team2</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="colored border_right" >Team2</td>
                <td class="border_right">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="border_right">&nbsp;</td>
                <td class="colored">Team3</td>
            </tr>
            <tr>
                <td class="colored border_right" >Team3</td>
                <td class="border_right">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="border_right">&nbsp;</td>
                <td class="colored">Team3</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="colored border_right" >Team4</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block include_js %}
{% include "info_modal_script.html" with error_message=error_message %}
{% endblock %}
