{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}
    <!-- form start -->
    <form class="form-horizontal" method="post"> {% csrf_token %}
      <div class="box-body">



        {% for field in form %}
            {% if user_profile.user_type != 2 or field.name != 'cash' %}
            <div class="form-group">
                {{ field.errors }}
                <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

                <div class="col-sm-10">
                    {% render_field field class+="form-control" %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>

            </div>
            {% endif %}
        {% endfor %}

      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-info btn-block">Submit</button>
      </div>
      <!-- /.box-footer -->
    </form>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
    <script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script>
        function getSelectedOps(select_id){
            select = document.getElementById(select_id);
            var ops = select.options;
            var res = "";
            for(i = 0;i < ops.length;i++){
                if(ops[i].selected)
                res += '<option value="' + ops[i].value + '">' + ops[i].text + "</option>\n"
            }
            return res;
        }
        $("#id_players").change(function(){
            $("#id_captain").html(getSelectedOps("id_players"));
        });
        $("#id_players").select2();
    </script>
{% endblock %}
