{% extends "box_content.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% block box_content %}

<div class="list-group">
    {% for team in teams %}
    <a href="{% url 'team_page' team_id=team.id %}" class="text-info list-group-item">
        <h4 class="text-primary lit-group-item-heading">{{ team.name }}</h4>
        <p class="text-info list-group-item-text">
            {% for player in team.players %}
            {% if player.user_type == 2 %}
            <span class="label label-primary">{{ player }}</span>
            {% else %}
            <span class="label label-info">{{ player }}</span>
            {% endif %}
            {% endfor %}
        </p>
    </a>
    {% endfor %}
</div>

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();

</script>
{% endblock %}
