{% extends "base.html" %}

{% block title %} User Profile {% endblock %}
{% block meta %}  {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="{% static 'tournament/dist/img/team_profile_icon.png' %}"
                     alt="User profile picture">

                <h3 class="profile-username text-center">{{ team.name }}</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                {% if is_logged_in and auth_user_profile.user_type == 1 %}
                <a href="{% url 'edit_team' team_id=team.pk %}" class="btn btn-primary btn-block"><b>EDIT</b></a>
                {% endif %}

                {% if auth_user_profile.team.pk == team.pk and auth_user_profile.user_type == 2 %}
                <a href="{% url 'edit_team' team_id=team.pk %}" class="btn btn-primary btn-block"><b>EDIT</b></a>
                {% endif %}

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                <p>
                    <span class="label label-danger">UI Design</span>
                    <span class="label label-success">Coding</span>
                    <span class="label label-info">Javascript</span>
                    <span class="label label-warning">PHP</span>
                    <span class="label label-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#players" data-toggle="tab">Players</a></li>
                <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
                <li><a href="#matches" data-toggle="tab">Matches</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Resmi kulüp adı:</th>
                                <td>Galatasaray Spor Kulübü</td>
                            </tr>
                            <tr>
                                <th>Adres:</th>
                                <td>Huzur Mahallesi</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>34415 Seyrantepe - Şişli/İSTANBUL <span
                                        class="tabellenplatz">(Nüfus: 13.854.740)</span>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>Türkiye</td>
                            </tr>
                            <tr>
                                <th>Tel:</th>
                                <td>+90 (212) 2732850</td>
                            </tr>
                            <tr>
                                <th>Faks:</th>
                                <td>+90 (212) 2732858</td>
                            </tr>
                            <tr>
                                <th>Web sayfası:</th>
                                <td><a target="_blank" href="http://www.galatasaray.org">www.galatasaray.org</a></td>
                            </tr>
                            <tr>
                                <th>Kuruluş:</th>
                                <td>20 Eki 1905</td>
                            </tr>
                            <tr>
                                <th>Üyeler:</th>
                                <td>16.266 <span class="tabellenplatz">(Durum: 31 Ara 2012)</span></td>
                            </tr>
                            <tr>
                                <th>Kulüp renkleri:</th>
                                <td><p class="vereinsfarbe"><span style="background-color:#FFFF00;">&nbsp;</span><span
                                        style="background-color:#FF0000;">&nbsp;</span><span style="background-color:;">&nbsp;</span>
                                </p></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="players">
                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Oyuncu</th>
                                <th>Doğ. tar. / yaş</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in players %}
                            <tr>
                                <td>
                                    <div class="rn_nummer">1</div>
                                </td>
                                <td>
                                    <table class="inline-table" title="">
                                        <tbody>
                                        <tr>
                                            <td rowspan="2" class=""><a href="#"><img style="height:36px;width28px;"
                                                    src="{% static 'tournament/dist/img/player-icon.png' %}"
                                                    title="Fernando Muslera" alt="Fernando Muslera"></a>
                                            </td>
                                            <td>
                                                <div>
                                                    <span>
                                                        <a href="{% url 'player_page' player_id=player.user_id %}">{{ player.user.username }}</a>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ player.get_position_display }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>16 Haz 1986 (31)</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="statistics">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th colspan="2">Kulüp</th>
                                <th class="hide"></th>
                                <th>Faaliyetler</th>
                                <th>Gol</th>
                                <th>Asistler</th>
                                <th>Sarı kartlar</th>
                                <th>Sarı-kırmızı kartlar</th>
                                <th>Kırmızı kartlar</th>
                                <th>Oynatılan dakikalar</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <td colspan="2">Toplam:</td>
                                <td class="hide">&nbsp;</td>
                                <td>538</td>
                                <td>136</td>
                                <td>134</td>
                                <td>95</td>
                                <td>1</td>
                                <td>2</td>
                                <td>41.012'</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td></td>
                                <td>AFC Ajax Amsterdam</td>
                                <td>180</td>
                                <td>58</td>
                                <td>44</td>
                                <td>35</td>
                                <td>-</td>
                                <td>1</td>
                                <td>13.859'</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Galatasaray SK</td>
                                <td>175</td>
                                <td>45</td>
                                <td>44</td>
                                <td>33</td>
                                <td>-</td>
                                <td>-</td>
                                <td>13.586'</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td> Inter</td>
                                <td>116</td>
                                <td>22</td>
                                <td>35</td>
                                <td>11</td>
                                <td>1</td>
                                <td>1</td>
                                <td>8.849'</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Real
                                Madrid</a></td>
                                <td>66</td>
                                <td>11</td>
                                <td>11</td>
                                <td>16</td>
                                <td>-</td>
                                <td>-</td>
                                <td>4.628'</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Ajax Amsterdam U21</td>
                                <td>1</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>90'</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="matches">
                    <div class="list-group ">
                        {% for league in leagues %}
                            <h3 data-toggle="collapse" data-target="#league{{ forloop.counter }}">League: {{league.name}}</h3>
                            {% for match in league.matches %}
                            <div style="padding-left:20px" id="league{{ forloop.counter }}" class="collapse list-group-unbordered">
                                <a href="{% url 'edit_match' match_id=match.pk %}" class="text-info list-group-item">
                                    <h5 class="text-primary lit-group-item-heading">{{ match.home.name }} - {{ match.away.name }}</h5>
                                </a>
                            </div>
                            {% endfor %}
                        {% endfor %}
                        {% for knockout in knockouts %}
                            <h3 data-toggle="collapse" data-target="#knockout{{ forloop.counter }}">Knockouts: {{knockout.name}} </h3>
                            <div style="padding-left:20px" id="knockout{{ forloop.counter }}" class="collapse list-group-unbordered">
                            {% for league in knockout.leagues %}
                                <h4 data-toggle="collapse" data-target="#{{knockout.pk}}league{{ forloop.counter }}">{{league.name}}</h4>
                                {% for match in league.matches %}
                                <div style="padding-left:20px" id="{{knockout.pk}}league{{ forloop.counter }}" class="collapse list-group-unbordered">
                                    <a href="{% url 'edit_match' match_id=match.pk %}" class="text-info list-group-item">
                                        <h5 class="text-primary lit-group-item-heading">{{ match.home.name }} - {{ match.away.name }}</h5>
                                    </a>
                                </div>
                                {% endfor %}
                            {% endfor %}
                            {% if knockout.matches %}
                                <h4 data-target="#knockoutmatches{{ knockout.pk }}" data-toggle="collapse">Knockout Stage:</h4>
                                <div style="padding-left:20px" id="knockoutmatches{{ knockout.pk }}" class="collapse list-group-unbordered">
                                {% for match in knockout.matches %}
                                <a href="{% url 'edit_match' match_id=match.pk %}" class="text-info list-group-item">
                                    <h5 class="text-primary lit-group-item-heading">{{ match.home.name }} - {{ match.away.name }}</h5>
                                </a>
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}

{% load staticfiles%}
{% block include_css %}
<link rel="stylesheet" href="{% static 'tournament/bower_components/select2/dist/css/select2.min.css' %} ">
{% endblock %}
{% block include_js %}
<script src="{% static 'tournament/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script>
        $("#id_players").select2();





</script>
{% endblock %}
