<form class="form-horizontal" method="post">
  <div class="box-body">
    {% load widget_tweaks %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>

        <div class="col-sm-10">
            {% if field.name != 'is_active' %}
                {% render_field field class+="form-control" %}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>

    </div>
    {% endfor %}

    {% csrf_token %}
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-info btn-block">Submit</button>
  </div>
  <!-- /.box-footer -->
</form>
