{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Horizontal Form</h3>
            </div>
            {% block box_content %}
            {% endblock %}
          </div>
    </div>
</div>

{% endblock %}
